*{
    box-sizing: border-box;
}
.box{
    float: left;
    width: 25%;
    padding: 40px;
}
p{
    color: white;
}
.fix::after{
    clear: both;
    content: "";
    display: table;
}

.img{
    float: left;
   width:20%;
   
    
}
p{
    color: white;
}
.clear::after{
    content: "";
    clear: both;

    display: table;
}