
body{
height:auto;
}
#inp1,#inp2,#inp3{
border:2px solid #f2f2f2;
width:150px;
height:15px;
}
#inp1:hover{
background-color:green;
}
#inp2:hover{
background-color:green;
}
#inp3:hover{
background-color:green;
}
#inp1{
background-color:#f2f2f2;
text-transform: uppercase;
}
.h{
padding-left: 420px;
color:red;
margin:30px;
text-transform: uppercase;
 }
div {
padding: 0 130px 80px 399px;
 }
  
